body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    background: black;
}
#flex{
    display: flex;
    justify-content: space-between;
    /* margin-top: 1px; */
    background-color: #ffffff;
    height: 63px;
    

}
.logo{
    
    margin-left: 30px;
    margin-top: 25px;
}
.flex-right{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
    justify-content:space-between ;

}
.list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
    margin-right: 350px;
}
ul li{
    display: flex;
    justify-content: space-between;
}
.button input{
    margin-right: 45px;
    /* height: 50px;
    width: 70px;
    background-color: yellow; */
    background: #FFE500;
    width: 130px;
    height: 44px;
      
}
body{
    background-repeat: no-repeat;
    background-size: auto;
    background: url(./images/unsplash_omeaHbEFlN4.png);
}
.above{
    margin-top: 200px;
    margin-left: 30px;
}
.above span{
    color: #FFE500;
}
.under{
    /* border: 1px white solid;
    box-sizing: border-box; */
    width: 30%;
    margin-left: 30px;

}
.two-buttons{
    display: flex;
    gap: 40px;
    margin-left: 30px;
}
.two-buttons input{
    width: 130px;
    height: 44px;
}
.yellow{
    background-color: #FFE500;
}
