<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="container12">
      <section class="first">
         <img src="students.jpeg" class="img1" alt="Student's Picture">
         <div class="inner"><h1>UNIVERSITY OF BUEA</h1>
            <p>Knowledge-with-wisdom</p>
         </div>
         <img src="UB.jpeg" class="img2" alt="School Logo">
      </section>
      <section class="second">
         <div class="details">
            <h2>Name :</h2>
            <p>JOEL TIKUM</p>
         </div>
         <div class="details">
            <h2>Number :</h2>
            <p>CT22A100</p>
         </div>
         <div class="details">
            <h2>Date of Birth :</h2>
            <p>19/04/2000</p>
         </div>
         <div class="details">
            <h2>Gender :</h2>
            <p>Male</p>
         </div>
         <div class="details">
            <h2>Program :</h2>
            <p>Bachelors in Technology</p>
         </div>
      </section>
      <section>
         <table>
            <tr>
               <th><h2>Registerd Course</h2></th>
               <th><h2>Final Grade</h2></th>
            </tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
            <tr><td>French</td>  <td>A</td></tr>
         </table>
      </section>
   </div>
</body>
</html>